.container {
	padding: 0 40px;
}

.visual-section {
	overflow: hidden;
	position: relative;
	height: 100vh;
}

.visual-section .hero-tit {
	z-index: 2;
	position: absolute;
	top: 50%;
	left: 0;
	right: 0;
	transform: translateY(-50%);
	font-size: 110px;
	font-weight: 700;
	line-height: 1;
	color: #fff;
}

.visual-section .hero-tit__row {
	overflow: hidden;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.visual-section .hero-tit__row > span {
	/* transform: translateY(100%); */
}

.visual-section .hero-spot {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}
.visual-section .hero-spot__mask {
	position: sticky;
	left: 0;
	width: 100%;
	height: 100svh;
	display: flex;
	align-items: center;
	justify-content: center;
	clip-path: inset(18% 36%);
}

.visual-section .hero-spot__mask .mask-bg {
	overflow: hidden;
	/* width: 30%;
	height: 65%; */
	display: flex;
	align-items: center;
	justify-content: center;
}

.visual-section .hero-spot__mask img {
	object-fit: cover;
}

.emotion-section {
	overflow: hidden;
	position: relative;
	padding-top: 6rem;
	padding-bottom: 10rem;
	border-top-right-radius: 3.75rem;
	border-top-left-radius: 3.75rem;
	background-color: #fff;
}

.emotion-section .emotion-txt-wrap {
	display: flex;
	justify-content: center;
	text-align: left;
}

.emotion-txt-wrap {
}

.emotion-txt {
	font-size: 60px;
}

.emotion-txt.space {
	margin-left: 13vw;
}

.emotion-txt strong {
	font-weight: 800;
}

.about-section {
  overflow: hidden;
}

.about-circles-wrap {
	position: sticky;
	display: flex;
	justify-content: flex-end;
}

.about-circles {
	display: grid;
	width: 180vh;
	height: 120vh;
	margin-top: 12rem;
	margin-right: -90vh;
	grid-template-rows: 60vh 60vh;
	grid-template-columns: repeat(3, 60vh);
	grid-auto-columns: 1fr;
}

.about-circles .about-circles__item {
}

.about-circles .about-circles__item .circle {
	width: 60vh;
	height: 60vh;
	border-radius: 50%;
	padding: 3.75rem;
	border: 1px solid #dcdcdc;
}

.about-circles .circle-obj {
	position: relative;
	text-align: center;
}

.about-circles .circle-obj img {
	border-radius: 50%;
	width: 100%;
}

.about-circles .circle-txt {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 3.125rem;
	font-weight: 600;
	color: #fff;
}

.about-section .about__bg {
	position: sticky;
	left: 0;
	width: 100%;
	text-align: center;
}

.about-section .about__bg .bg-list {
	display: inline-grid;
	grid-template-columns: repeat(2, 1fr);
	grid-gap: 2rem;
	padding-top: 10rem;
}

.about-section .about__bg .bg-list > li {
	display: flex;
}

.about-section .about__bg .bg-list img {
	opacity: 0.3;
	filter: blur(8px);
}

.about-section .about__bg .bg-list > li.top {
	align-items: flex-end;
}

.about-section .about__bg .bg-list > li.left {
	justify-content: flex-end;
}

.about-section .about__bg .bg-list > li.left.top {
	transform: translate(-100%, -100%);
}
.about-section .about__bg .bg-list > li.right.top {
	transform: translate(100%, -100%);
}
.about-section .about__bg .bg-list > li.left.bottom {
	transform: translate(-100%, 100%);
}
.about-section .about__bg .bg-list > li.right.bottom {
	transform: translate(100%, 100%);
}

.about-section .about-words {
	font-size: 60px;
	font-weight: 500;
	color: #fff;
	text-align: center;
}

.about-section .about-words__item {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh;
}

.about-section .about-txt strong {
	font-weight: 600;
}
